<h1>Services</h1>
<div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Firearm Sales</h4>
    <p class="list-group-item-text">
    
    </p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Firearm Transfers</h4>
    <p class="list-group-item-text">
    In addition to selling firearms, we provide transfer services. <strong>The fee to transfer a firearm is $30</strong>. Please contact us to get a firearm transferred.
    </p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Collection/Estate Sales</h4>
    <p class="list-group-item-text">
    We also purchase firearm collections. If you are interested in selling a collection, please contact us.
    </p>
  </a>
  <br>
</div>