<h1>Services</h1>
<p>
In addition to selling firearms, we provide transfer services. <strong>The fee to transfer a firearm is $30</strong>.
</p>

<p>
We also purchase firearm collections. If you are interested in selling a collection, please contact us <a href="mailto:tcarney@rivianarms.com">via email</a>.
</p>